.body {
opacity: 0;

@mixin atSmall {
  &--thin-line{
    border-left: 1px solid $mainGrey;
    height: 3813px;
    position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 0;
    z-index: -5;
  }
}
}
