.body {
opacity: 0;

@mixin atMedium {
  &--thin-line {
    border-left: 1px solid $mainGrey;
    height: 3625px;
    position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 0;
    z-index: -5;
  }
}
@mixin atLarge {
  &--thin-line {
  height: 4750px;
    }
  }
}
