.page-section {
  padding: 1.2rem 1.2rem;
  position: relative;
  width: 100%;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
      padding-top: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--grey {
    background-color: $mainGrey;
    color: #EFEEE2;
  }

  &--about {
    background-color: #EFEEE2;

    @mixin atLarge {
      &.lazyloaded {
        background-size: cover;
      }
    }
    p {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      line-height: 1.5rem;
      font: Helvetica Neue;
      display: inline-block;

      }

    }

}
