.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: left;
  position: relative;
  padding-left: 1.2rem;
  margin-left: 20%;


  @mixin atSmall {
    font-size: 3.75rem;

  @mixin atMedium {
    margin-left: 10%;
  }
  }

 &--pull-center{
   text-align: left;
 }

  strong {
    font-weight: 500;
  }

  &--grey {
    color: $mainGrey;
    font-size: 3rem;

    @mixin atMedium {
      display: inline-block;
      margin-left: 10%;
      }
    }


  &--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall {
      position: relative;
      top: 8px;
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }
  &__subtitle{
    padding-left: 5%;
    font-weight: 350;
    @mixin atMedium {
      margin-left: 0;
      @mixin atLarge {
        padding-left: 11%;
      }
    }
  }

  &__paragraph {
    display: inline-block;
    line-height: 2;
    padding: 5% 5% 10% 5%;

    @mixin atMedium {
    min-width: 50%;
    display: inline-block;
    margin-right: 10%;
    margin-left: 50%;
    margin-top: -20%;
    padding-right: 5%;

    @mixin atLarge {
      min-width: 50%;
    }
    }

  &--aboutme{
    @mixin atMedium{
      top: 0;
      right: 0;
    }
    }

  }
}
