.testimonials {
  background-color: #EFEEE2;



  @mixin atMedium {
    position: relative;
  }

  @mixin atLarge {
    margin-top: 0%;
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 0rem;

  }

  &--last {
    margin-bottom: 0;

  }

  &__photo {

    @mixin atMedium {
    overflow: visible;
    height: auto;
    float: right;
    position: 20px;
    }
  }


  &__title {
    color: $mainGrey;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    top: 0;

    @mixin atMedium {
      margin-top: -6%;
    }
  }

  &__subtitle {
    color: $mainGrey;
    font-weight: 400;
    font-size: 0.9375rem;
    padding-bottom: 30px;
    text-align: center;

/*  @mixin atMedium {
      margin-right: 20%;

    }*/
  }

  &__numbers {
    opacity: 0;
    top: 0;


    @mixin atMedium{
      opacity: 1;
      margin-top: 33%;

    }
  }
p {
  padding: 1rem;
  display: center;
  @mixin atMedium {
    max-width: 50%;
    margin-left: 29%;
  }
}

}
