.testimonial {
  background-color: rgba(255, 255, 255, .8);
  padding: 0 18px 1px 18px;
  max-width: 50%;

  @mixin atLarge {
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 0rem;

  }

  &--last {
    margin-bottom: 0;
  }

  &__photo {
    padding: 1rem;

    @mixin atMedium {

    overflow: visible;
    display:
    max-width: 100%;
    height: auto;
    margin-left: -30%;
    top: 0;
    }
  }


  &__title {
    color: $mainBlue;
    float: left;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    width: 25%;
    height: 25%;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &__subtitle {
    color: $mainBlue;
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: -.5rem .1rem .1rem 0rem;
    padding-bottom: 30px;
  }
}
